
@import './colors.css';
/* Reset básico moderno */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html, body {
  height: 100%;
  background-color: #f8f9fa; /* Cor de fundo da tela de login */
  font-family: 'Inter', sans-serif;
  color: #1c1c1c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Import da fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Variáveis de tema */
:root {
  --radius: 10px;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Containers */
.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem;
}

/* Títulos */
h1, h2, h3, h4, h5 {
  font-weight: 600;
}

/* Inputs */
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 0.75rem 1rem;
  padding-left: 3rem;
  border: 1px solid #ced4da;
  border-radius: var(--radius);
  background-color: #fff;
  font-size: 1rem;
  transition: border-color 0.2s;
  outline: none;
  transition: .5s ease;
}

input.error {
  border-color: var(--color-red-600);
}

input.error:focus,
input.error:hover {
  border-color: var(--color-red-600);
  outline: none;
}


input:focus, input:hover {
  outline: none;
  border-color: var(--color-teal-700);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(0 127 95 / 13%);
}

/* Botão principal */
button,
.btn {
  padding: 1rem 1.5rem;
  background-color: var(--color-teal-700);
  color: white;
  border: none;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover,
.btn:hover {
  background-color: var(--color-teal-900);
}

/* Links */
a {
  color: var(--color-teal-700);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para cards */
.card {
  background: var(--color-gray-600);
  border-radius: var(--radius);
  padding: 1rem;
  box-shadow: var(--shadow);
}


.icon {
  filter: brightness(2);
}
