.auth-login-container {
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.auth-login-container .auth-logo {
  display: flex;
  align-items: center;

  gap: 8px;
  color: #adb5bd;

  margin-bottom: 4rem;
}

span.auth-brand {
  font-size: 22px;
}

.auth-cta {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 2rem;
}

.auth-cta .auth-title {
  font-size: 24px;
  font-weight: 600;
}

.auth-cta .auth-switch {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.auth-switch button {
  background: none;
  border: none;
  color: #087F5B;
  cursor: pointer;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.auth-form .form-group {
  width: 100%;
  display: flex;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.form-group .icon {
  position: absolute;
  left: 1rem;
  fill: none;
}

.form-group input {
  width: 100%;
}
